body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo{

  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  &:first-child{
    margin-top: 20px;
  }
  &--notdone{
    background: rgb(187, 198, 187);
  }
  &--done{
    background: rgb(105, 221, 105);
    color: white;
  }
}
.done{
  color: green;
  background: lightgreen;
}
.button{
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 2px 6px;
  &--delete{
    margin-left: 5px;
    margin-top: 10px;
    background: #a42626;
    color: white;
  }
  &--submit{
    background: rgb(51, 174, 208);
  }
  &--validate{
    margin-left: 10px;
    background: rgb(42, 169, 42);
  }
  &--big{
    padding: 10px 20px;
  }
}

.list{
  margin-top: 50px;
  text-align: center;
  &__input{
    height: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin-right: 20px;
  }
}